In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import re
import time
import matplotlib.pyplot as plt

In [11]:
games = pd.read_csv("games.csv", index_col = False)

In [12]:
games['date'] = games['date'].astype(str).str[:10]

In [13]:
games.head()

,Unnamed: 0,id,date,home_team_score,period,postseason,season,status,time,visitor_team_score,home_team_id,visitor_team_id
0,0,857369,2022-10-20,97,4,False,2022,Final,Final,103,14,13
1,1,857370,2022-10-20,88,4,False,2022,Final,Final,90,23,17
2,2,857381,2022-10-21,113,5,False,2022,Final,Final,111,25,24
3,3,857374,2022-10-21,102,4,False,2022,Final,Final,100,30,5
4,4,857376,2022-10-21,122,4,False,2022,Final,Final,129,11,15

In [14]:
games.drop(['status', 'time'], axis = 1, inplace = True)
games.head()

,Unnamed: 0,id,date,home_team_score,period,postseason,season,visitor_team_score,home_team_id,visitor_team_id
0,0,857369,2022-10-20,97,4,False,2022,103,14,13
1,1,857370,2022-10-20,88,4,False,2022,90,23,17
2,2,857381,2022-10-21,113,5,False,2022,111,25,24
3,3,857374,2022-10-21,102,4,False,2022,100,30,5
4,4,857376,2022-10-21,122,4,False,2022,129,11,15

In [15]:
games_home = games
games_away = games

In [21]:
games_home = games_home.drop_duplicates(subset=['home_team_id', 'id'])
games_away = games_away.drop_duplicates(subset=['home_team_id', 'id'])

In [29]:
games_home

id,home_team_id,1007815,1007816,1007817,1007818,1007819,1007820,1007821,1007822,1007824,...,972860,972863,972866,972869,981609,981611,981615,981619,981623,981627
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,116.0,NaN,105.0,NaN,NaN,NaN,NaN,110.0,...,NaN,103.0,NaN,112.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,132.0,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,112.0,127.0,NaN,NaN,121.0,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,NaN,NaN,NaN,NaN,108.0,NaN,111.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,127.0,104.0,NaN,122.0
14,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,128.0,NaN,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116.0,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
games_away['id'] = games_away['id'].astype(str)
games_away = games_away.pivot(index='visitor_team_id', columns = 'id', values = 'visitor_team_score').reset_index()

In [28]:
games_away.head()

id,visitor_team_id,1007815,1007816,1007817,1007818,1007819,1007820,1007821,1007822,1007824,...,972860,972863,972866,972869,981609,981611,981615,981619,981623,981627
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,102.0,NaN,116.0,NaN,...,115.0,NaN,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
games_home.set_index('home_team_id', inplace=True)
games_away.set_index('visitor_team_id', inplace=True)

In [32]:
game_stats_by_team = games_home.combine_first(games_away)

In [41]:
game_stats_by_team.head()

id,1007815,1007816,1007817,1007818,1007819,1007820,1007821,1007822,1007824,1007826,...,972860,972863,972866,972869,981609,981611,981615,981619,981623,981627
home_team_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,116.0,NaN,105.0,NaN,102.0,NaN,116.0,110.0,104.0,...,115.0,103.0,95.0,112.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
teams = pd.read_csv("teams")
teams.head()

,Unnamed: 0,id,abbreviation,city,conference,division,full_name,name
0,0,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks
1,1,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics
2,2,3,BKN,Brooklyn,East,Atlantic,Brooklyn Nets,Nets
3,3,4,CHA,Charlotte,East,Southeast,Charlotte Hornets,Hornets
4,4,5,CHI,Chicago,East,Central,Chicago Bulls,Bulls

In [42]:
game_stats_by_team = pd.merge(game_stats_by_team, teams[['id', 'full_name', 'abbreviation']], left_on = 'home_team_id', right_on = 'id', how = 'left')

In [44]:
game_stats_by_team.head()
game_stats_by_team.to_csv('pointsPerGame.csv')