In [69]:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import re
import time
import matplotlib.pyplot as plt
import plotly.express as px

In [28]:
games = pd.read_csv("games.csv", index_col = False)

In [29]:
games['date'] = games['date'].astype(str).str[:10]

In [30]:
games.drop(['status', 'time'], axis = 1, inplace = True)
games.reset_index()
games.head()

,Unnamed: 0,id,date,home_team_score,period,postseason,season,visitor_team_score,home_team_id,visitor_team_id
0,0,857369,2022-10-20,97,4,False,2022,103,14,13
1,1,857370,2022-10-20,88,4,False,2022,90,23,17
2,2,857381,2022-10-21,113,5,False,2022,111,25,24
3,3,857374,2022-10-21,102,4,False,2022,100,30,5
4,4,857376,2022-10-21,122,4,False,2022,129,11,15

In [50]:
teams = pd.read_csv("teams")

teams.rename(columns={'id' : 'team_id'}, inplace=True)
teams.head()

,Unnamed: 0,team_id,abbreviation,city,conference,division,full_name,name
0,0,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks
1,1,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics
2,2,3,BKN,Brooklyn,East,Atlantic,Brooklyn Nets,Nets
3,3,4,CHA,Charlotte,East,Southeast,Charlotte Hornets,Hornets
4,4,5,CHI,Chicago,East,Central,Chicago Bulls,Bulls

In [54]:
# Merge for home_team_name
merged_home = pd.merge(left=games, right=teams[['team_id', 'full_name']], 
                        how='left', left_on='home_team_id', right_on='team_id')

# Rename the 'full_name' column to 'home_team_name' and drop the extra 'id' column
merged_home.rename(columns={'full_name': 'home_team_name'}, inplace=True)

# Merge for visitor_team_name
merged_final = pd.merge(left=games, right=teams[['team_id', 'full_name']], 
                        how='left', left_on='visitor_team_id', right_on='team_id')

# Rename the 'full_name' column to 'visitor_team_name' and drop the extra 'id' column
merged_final.rename(columns={'full_name': 'visitor_team_name'}, inplace=True)

games = merged_final
teams.head()

,Unnamed: 0,team_id,abbreviation,city,conference,division,full_name,name
0,0,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks
1,1,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics
2,2,3,BKN,Brooklyn,East,Atlantic,Brooklyn Nets,Nets
3,3,4,CHA,Charlotte,East,Southeast,Charlotte Hornets,Hornets
4,4,5,CHI,Chicago,East,Central,Chicago Bulls,Bulls

In [ ]:

games.drop(columns = ['team_id'], inplace=True)

In [55]:
games = games.merge(right = teams[['team_id', 'full_name']], how = 'left', left_on = 'home_team_id', right_on='team_id')
games.head()

,Unnamed: 0,id,date,home_team_score,period,postseason,season,visitor_team_score,home_team_id,visitor_team_id,visitor_team_name,team_id_x,visitor_team_name,team_id_y,full_name
0,0,857369,2022-10-20,97,4,False,2022,103,14,13,LA Clippers,13,LA Clippers,14,Los Angeles Lakers
1,1,857370,2022-10-20,88,4,False,2022,90,23,17,Milwaukee Bucks,17,Milwaukee Bucks,23,Philadelphia 76ers
2,2,857381,2022-10-21,113,5,False,2022,111,25,24,Phoenix Suns,24,Phoenix Suns,25,Portland Trail Blazers
3,3,857374,2022-10-21,102,4,False,2022,100,30,5,Chicago Bulls,5,Chicago Bulls,30,Washington Wizards
4,4,857376,2022-10-21,122,4,False,2022,129,11,15,Memphis Grizzlies,15,Memphis Grizzlies,11,Houston Rockets

In [ ]:
games.rename(columns = {'full_name' : 'home_team_name'}, inplace = True)
games.head()

In [59]:
games.drop(columns = ['team_id_x', 'team_id_y'], inplace = True)

In [60]:
games.to_csv('games.csv')

In [81]:
# figure out how to get a column called winner


# games.head()
# winner = []
# for game in games['id']:
#     if games.loc()

,Unnamed: 0,id,date,home_team_score,period,postseason,season,visitor_team_score,home_team_id,visitor_team_id,visitor_team_name,visitor_team_name,home_team_name
0,0,857369,2022-10-20,97,4,False,2022,103,14,13,LA Clippers,LA Clippers,Los Angeles Lakers
1,1,857370,2022-10-20,88,4,False,2022,90,23,17,Milwaukee Bucks,Milwaukee Bucks,Philadelphia 76ers
2,2,857381,2022-10-21,113,5,False,2022,111,25,24,Phoenix Suns,Phoenix Suns,Portland Trail Blazers
3,3,857374,2022-10-21,102,4,False,2022,100,30,5,Chicago Bulls,Chicago Bulls,Washington Wizards
4,4,857376,2022-10-21,122,4,False,2022,129,11,15,Memphis Grizzlies,Memphis Grizzlies,Houston Rockets