This python notebook file contains the code I used to modify the datasets. Mostly merges and drops of columns to perform the EDAs I was interested in.

In [19]:
import pandas as pd
import numpy as np

In [20]:
# import existing datasets 
games = pd.read_csv("datasets/games.csv")
players = pd.read_csv("datasets/players.csv")
stats = pd.read_csv("datasets/stats.csv")
teams = pd.read_csv("datasets/teams.csv")

## Add team name to games

In [21]:
games = games.merge(teams[['id', 'abbreviation']], left_on = 'home_team_id', right_on = 'id', how = "left")

In [22]:
games.rename(columns = {'id_x' : 'id', 'abbreviation' : 'home_team_abr'}, inplace = True)
games.drop(columns = ['Unnamed: 0', 'id_y'], inplace = True)

In [23]:
games = games.merge(teams[['id', 'abbreviation']], left_on = 'visitor_team_id', right_on = 'id', how = "left")

In [24]:
games.rename(columns = {'id_x' : 'id', 'abbreviation' : 'visitor_team_abr'}, inplace = True)
games.drop(columns = ['id_y'], inplace = True)
games.head()

,id,date,home_team_score,period,postseason,season,status,time,visitor_team_score,home_team_id,visitor_team_id,home_team_abr,visitor_team_abr,home_team_abr.1,visitor_team_abr.1,home_team_abr.2,visitor_team_abr.2,home_team_abr,visitor_team_abr
0,857369,2022-10-20T00:00:00.000Z,97,4,False,2022,Final,Final,103,14,13,LAL,LAC,LAL,LAC,LAL,LAC,LAL,LAC
1,857370,2022-10-20T00:00:00.000Z,88,4,False,2022,Final,Final,90,23,17,PHI,MIL,PHI,MIL,PHI,MIL,PHI,MIL
2,857381,2022-10-21T00:00:00.000Z,113,5,False,2022,Final,Final,111,25,24,POR,PHX,POR,PHX,POR,PHX,POR,PHX
3,857374,2022-10-21T00:00:00.000Z,102,4,False,2022,Final,Final,100,30,5,WAS,CHI,WAS,CHI,WAS,CHI,WAS,CHI
4,857376,2022-10-21T00:00:00.000Z,122,4,False,2022,Final,Final,129,11,15,HOU,MEM,HOU,MEM,HOU,MEM,HOU,MEM

In [25]:
games.to_csv("datasets/games.csv")

# Add total height in inches to players dataset

In [26]:
players['height'] = players['height_feet']*12 + players['height_inches']
players.to_csv("datasets/players.csv")

# Add position to stats dataset

In [32]:
stats = stats.merge(players[['id', 'position']], how = "left", left_on = 'player_id', right_on = 'id')

In [33]:
stats.drop(columns = ['id_y'], axis = 1, inplace=True)

In [34]:
stats.to_csv("datasets/stats.csv")

# Drop stats of players who played 0 minutes

In [35]:
stats = stats[stats['min']!=0]

In [36]:
stats.to_csv("datasets/stats.csv")

In [39]:
home_df = games[['id', 'home_team_id', 'home_team_score', 'visitor_team_score', 'postseason']]
home_df.columns = ['game_id', 'team_id', 'points', 'opponent_points', 'postseason']

# Create a new DataFrame for visitor teams
visitor_df = games[['id', 'visitor_team_id', 'visitor_team_score', 'home_team_score', 'postseason']]
visitor_df.columns = ['game_id', 'team_id', 'points', 'opponent_points', 'postseason']

# Concatenate both DataFrames
game_points = pd.concat([home_df, visitor_df], ignore_index=True)

# Sort the DataFrame by team_id for better visualization
game_points.sort_values(by='team_id', inplace=True)

print(game_points)
game_points.to_csv("datasets/team_points.csv")

      game_id  team_id  points  opponent_points  postseason
2532   858534        1     123              105       False
1847   858116        1     125              129       False
791    857528        1     104               95       False
790    857516        1     119              125       False
2753   891700        1      99              112        True
...       ...      ...     ...              ...         ...
1785   857648       30     121              130       False
981    858250       30     109              115       False
159    858201       30     127              113       False
2642   857737       30     111              121       False
684    858325       30     111              117       False

[2840 rows x 5 columns]