This python notebook file contains the code I used to modify the datasets. Mostly merges and drops of columns to perform the EDAs I was interested in.

In [1]:
import pandas as pd
import numpy as np

In [11]:
# import existing datasets 
games = pd.read_csv("datasets/games.csv")
players = pd.read_csv("datasets/players.csv")
stats = pd.read_csv("datasets/stats.csv")
teams = pd.read_csv("datasets/teams.csv")

## Add team name to games

In [12]:
games = games.merge(teams[['id', 'abbreviation']], left_on = 'home_team_id', right_on = 'id', how = "left")

In [17]:
games.rename(columns = {'id_x' : 'id', 'abbreviation' : 'home_team_abr'}, inplace = True)
games.drop(columns = ['Unnamed: 0', 'id_y'], inplace = True)

,id,date,home_team_score,period,postseason,season,status,time,visitor_team_score,home_team_id,visitor_team_id,home_team_abr
0,857369,2022-10-20T00:00:00.000Z,97,4,False,2022,Final,Final,103,14,13,LAL
1,857370,2022-10-20T00:00:00.000Z,88,4,False,2022,Final,Final,90,23,17,PHI
2,857381,2022-10-21T00:00:00.000Z,113,5,False,2022,Final,Final,111,25,24,POR
3,857374,2022-10-21T00:00:00.000Z,102,4,False,2022,Final,Final,100,30,5,WAS
4,857376,2022-10-21T00:00:00.000Z,122,4,False,2022,Final,Final,129,11,15,HOU

In [18]:
games = games.merge(teams[['id', 'abbreviation']], left_on = 'visitor_team_id', right_on = 'id', how = "left")

In [21]:
games.rename(columns = {'id_x' : 'id', 'abbreviation' : 'visitor_team_abr'}, inplace = True)
games.drop(columns = ['id_y'], inplace = True)
games.head()

,id,date,home_team_score,period,postseason,season,status,time,visitor_team_score,home_team_id,visitor_team_id,home_team_abr,visitor_team_abr
0,857369,2022-10-20T00:00:00.000Z,97,4,False,2022,Final,Final,103,14,13,LAL,LAC
1,857370,2022-10-20T00:00:00.000Z,88,4,False,2022,Final,Final,90,23,17,PHI,MIL
2,857381,2022-10-21T00:00:00.000Z,113,5,False,2022,Final,Final,111,25,24,POR,PHX
3,857374,2022-10-21T00:00:00.000Z,102,4,False,2022,Final,Final,100,30,5,WAS,CHI
4,857376,2022-10-21T00:00:00.000Z,122,4,False,2022,Final,Final,129,11,15,HOU,MEM

In [23]:
games.to_csv("datasets/games.csv")