In [1]:
import pandas as pd

In [2]:
teams = pd.read_csv("datasets/teams.csv")

In [3]:
teamColors = teams[['full_name', 'abbreviation']]

In [4]:
colorsHex = {'ATL' : '#C8102E', 'BOS' : '#007A33', 'BKN' : '#000000', 'CHA' : '#1D1160', 'CHI' : '#CE1141', 
            'CLE' : '#860038', 'DAL' : '#00538C', 'DEN' : '#0E2240', 'DET' : '#C8102E', 'GSW' : '#1D428A', 
            'HOU' : '#CE1141', 'IND' : '#002D62', 'LAC' : '#C8102E', 'LAL' : '#552583', 'MEM' : '#5D76A9', 
            'MIA' : '#98002E', 'MIL' : '#00471B', 'MIN' : '#0C2340', 'NOP' : '#0C2340', 'NYK' : '#006BB6',
            'OKC' : '#007AC1', 'ORL' : '#0077C0', 'PHI' : '#006BB6', 'PHX' : '#1D1160', 'POR' : '#E03A3E', 
            'SAC' : '#5A2D81', 'SAS' : '#C4CED4', 'TOR' : '#CE1141', 'UTA' : '#002B5C', 'WAS' : '#002B5C'}

In [5]:
colorsHexDf = pd.DataFrame(list(colorsHex.items()), columns=['Team', 'ColorHex'])

In [6]:
colorsHexDf.head()

  Team ColorHex
0  ATL  #C8102E
1  BOS  #007A33
2  BKN  #000000
3  CHA  #1D1160
4  CHI  #CE1141

In [7]:
teamColors = teamColors.merge(colorsHexDf[['Team', 'ColorHex']], left_on = 'abbreviation', right_on = 'Team')

In [8]:
teamColors.head()

           full_name abbreviation Team ColorHex
0      Atlanta Hawks          ATL  ATL  #C8102E
1     Boston Celtics          BOS  BOS  #007A33
2      Brooklyn Nets          BKN  BKN  #000000
3  Charlotte Hornets          CHA  CHA  #1D1160
4      Chicago Bulls          CHI  CHI  #CE1141

In [9]:
teamColors.drop(columns = 'Team', axis = 1, inplace = True)

In [10]:
teamColors.rename(columns = {'ColorHex' : 'colorHex'}, inplace = True)

In [11]:
teamColors.head()

           full_name abbreviation colorHex
0      Atlanta Hawks          ATL  #C8102E
1     Boston Celtics          BOS  #007A33
2      Brooklyn Nets          BKN  #000000
3  Charlotte Hornets          CHA  #1D1160
4      Chicago Bulls          CHI  #CE1141

In [14]:
teamColors.to_csv('datasets/teamColors.csv')

In [12]:
secondColor = {'ATL' : '#FDB927', 'BOS' : '#BA9653', 'BKN' : '#FFFFFF', 'CHA' : '#00788C', 'CHI' : '#000000', 
               'CLE' : '#041E42', 'DAL' : '#002B5E', 'DEN' : '#FEC524', 'DET' : '#1D42BA', 'GSW' : '#FFC72C',
               'HOU' : '#000000', 'IND' : '#FDBB30', 'LAC' : '#1D428A', 'LAL' : '#FDB927', 'MEM' : '#12173F',
               'MIA' : '#F9A01B', 'MIL' : '#EEE1C6', 'MIN' : '#236192', 'NOP' : '#C8102E', 'NYK' : '#F58426',
               'OKC' : '#EF3B24', 'ORL' : '#C4CED4', 'PHI' : '#ED174C', 'PHX' : '#E56020', 'POR' : '#000000',
               'SAC' : '#63727A', 'SAS' : '#000000', 'TOR' : '#000000', 'UTA' : '#00471B', 'WAS' : '#E31837'}

In [13]:
color2df = pd.DataFrame(list(secondColor.items()), columns=['abbreviation', 'ColorHex2'])

In [14]:
teamColors = teamColors.merge(color2df[['abbreviation', 'ColorHex2']], on = 'abbreviation')

In [15]:
teamColors.head()

           full_name abbreviation colorHex ColorHex2
0      Atlanta Hawks          ATL  #C8102E   #FDB927
1     Boston Celtics          BOS  #007A33   #BA9653
2      Brooklyn Nets          BKN  #000000   #FFFFFF
3  Charlotte Hornets          CHA  #1D1160   #00788C
4      Chicago Bulls          CHI  #CE1141   #000000

In [16]:
teamColors.to_csv('datasets/teamColors.csv')